In [17]:
# 필수 1.데이터 불러오기
import pandas as pd

df = pd.read_csv("flight_data_homework.csv")

print(df.shape)

df.head()

(10683, 11)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [18]:
# 필수 2.결측치 처리
import pandas as pd

print(df.isna().sum())

df = df.dropna()

print(df.isna().sum())

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64
Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [ ]:
# 필수 3.조건에 맞는 데이터 추출하기
import pandas as pd

# df.groupby("Destination")["Price"].agg(["mean", "median"]).round(1)

avg_df = df.groupby("Destination")["Price"].agg(
    평균값=lambda x: round(x.mean(), 1),
    중앙값=lambda x: round(x.median(), 1)
).reset_index()

display(avg_df)

df2 = (
    df.groupby(['Airline', 'Total_Stops'])['Route']
       .nunique()
       .reset_index()
)

df2

  Destination      평균값      중앙값
0    Banglore   9158.4   9345.0
1      Cochin  10540.1  10262.0
2       Delhi   5143.9   4823.0
3   Hyderabad   5059.7   3342.0
4     Kolkata   4789.9   3850.0
5   New Delhi  11917.7  10898.5

                              Airline Total_Stops  Route
0                            Air Asia      1 stop      3
1                            Air Asia     2 stops      1
2                            Air Asia    non-stop      2
3                           Air India      1 stop     25
4                           Air India     2 stops     50
5                           Air India     3 stops     11
6                           Air India     4 stops      1
7                           Air India    non-stop      5
8                               GoAir      1 stop      7
9                               GoAir    non-stop      2
10                             IndiGo      1 stop     29
11                             IndiGo     2 stops      2
12                             IndiGo    non-stop      5
13                        Jet Airways      1 stop      8
14                        Jet Airways     2 stops     22
15                        Jet Airways    non-stop      3
16               Jet Airways Business      1 stop      2
17               Jet Airways Business     2 stops      1
18                  Multiple carriers      1 stop      2
19                  Multiple carriers     2 stops      3
20                  Multiple carriers     3 stops      1
21  Multiple carriers Premium economy      1 stop      1
22                           SpiceJet      1 stop     10
23                           SpiceJet    non-stop      4
24                             Trujet      1 stop      1
25                            Vistara      1 stop      3
26                            Vistara    non-stop      3
27            Vistara Premium economy    non-stop      2

In [20]:
# 필수4. 조건에 맞는 데이터 추출하기2
import pandas as pd

pivot_df = pd.pivot_table(
    df,
    values='Airline',
    index=['Source','Destination'],
    aggfunc='count',
    fill_value=0,
)

pivot_df = pivot_df.sort_values(by='Airline', ascending=False)

display(pivot_df)

filtering_df = df[(df['Airline'] == 'Air India') & (df['Price'] >= 7000)]

display(filtering_df)

                      Airline
Source   Destination
Delhi    Cochin          4536
Kolkata  Banglore        2871
Banglore Delhi           1265
         New Delhi        932
Mumbai   Hyderabad        697
Chennai  Kolkata          381

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
10,Air India,1/06/2019,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907
15,Air India,3/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
18,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15 13 Jun,23h,2 stops,No info,13381
31,Air India,1/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,09:50,23:15,13h 25m,2 stops,No info,13227
...,...,...,...,...,...,...,...,...,...,...,...
10661,Air India,9/05/2019,Delhi,Cochin,DEL → BOM → COK,13:00,19:15,6h 15m,1 stop,No info,8372
10662,Air India,24/03/2019,Kolkata,Banglore,CCU → BOM → GOI → BLR,09:25,05:35 25 Mar,20h 10m,2 stops,No info,12352
10669,Air India,15/06/2019,Delhi,Cochin,DEL → BOM → COK,08:00,19:15,11h 15m,1 stop,No info,9929
10670,Air India,12/05/2019,Kolkata,Banglore,CCU → IXR → DEL → BLR,05:50,23:15,17h 25m,2 stops,No info,11411
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [21]:
# 도전 1. 조건에 맞는 데이터 추출하기3
import pandas as pd

df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

df['Day'] = df["Date_of_Journey"].dt.day_name()

wed_price = df[df['Day'] == 'Wednesday']['Price'].mean()

wed_price

C:\Users\KDH\AppData\Local\Temp\ipykernel_23728\3145050186.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

9277.51418951419

In [22]:
# 도전 2. Dep_Time 기준 비행기 시간대 분류
import pandas as pd

df['Dep_Time'] = pd.to_datetime(df['Dep_Time'])

df['Q_Day'] = df['Dep_Time'].dt.hour.apply(
    lambda h: '아침' if 5 <= h <12 else '낮' if 12 <= h < 18 else '저녁' if 18 <= h < 24 else '밤'
)

order = ['아침', '낮', '저녁', '밤']
df['Q_Day'] = pd.Categorical(df['Q_Day'], categories=order, ordered=True)

df_counts = df['Q_Day'].value_counts().reindex(order).reset_index()
df_counts.columns = ['Time', 'Counts']

display(df_counts)

C:\Users\KDH\AppData\Local\Temp\ipykernel_23728\2557296255.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Time'] = pd.to_datetime(df['Dep_Time'])

  Time  Counts
0   아침    4911
1    낮    2604
2   저녁    2702
3    밤     465